.km-dialog-form {
    .dialog-content {
        display: table;
        border-spacing: 10px;
    }

    .row {
        display: table-row;

        & > * {
            display: table-cell;
        }
    }

    button:not(.full-width) {
        width: auto;
    }

    label,
    .label {
        text-align: right;
        vertical-align: middle;
    }

    input,
    select {
        width: 100%;
    }

}