.km-camping-sheet {
    .km-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .window-content {
        padding: 0;
    }
}

#km-camping-time-tracker {
    height: 50px;
    justify-content: center;
    color: var(--color-dark-1);
    /* divide 100/(24/hour) to get percentage */
    background: linear-gradient(
            in lch to right,
            rgb(32, 38, 57) 0%, /* 0:00 */ rgb(63, 76, 119) 17%, /* 4:00 */ rgba(185, 91, 229, 1) 23%, /* 5:30 */ #ff8f8f 27%, /* 6:30 */ #AFF1DA 38%, /* 9:00 */ #F9EA8F 50%, /* 12:00 */ #AFF1DA 63%, /* 15:00 */ #ff8f8f 73%, /* 17:30 */ rgba(185, 91, 229, 1) 77%, /* 18:30 */ rgb(63, 76, 119) 83%, /* 20:00 */ rgb(32, 38, 57) 100% /* 24:00 */
    );
    background-position: 55%;

    button {
        color: var(--color-dark-1);
        background: none;
        border: 0;
        border-radius: 10px;
        height: 40px;
        width: 40px;
        margin: auto 0;
    }

    button.night-mode {
        background-color: rgba(255, 255, 255, .5);
    }

    button#km-camping-plus-hexploration,
    button#km-camping-minus-hexploration {
        background-image: url("./hexagon-black.svg");
        width: 40px;
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
    }

    button:hover {
        border-radius: 100%;
        background-color: rgba(255, 255, 255, .9);
        /*box-shadow: 1px 0 0 var(--color-dark-1);*/
        box-shadow: none;
        transition: none;
    }

    #km-camping-time {
        padding: 5px 20px;

        #km-camping-time-wrapper {
            height: 40px;
        }

        #km-camping-time-wrapper.night-mode {
            background-color: rgba(255, 255, 255, .5);
        }

        i {
            border-radius: 100%;
            /*background-color: rgba(255, 255, 255, .5);*/
            width: 30px;
            text-align: center;
            line-height: 22px;
            height: 22px;
            margin: auto;
            display: block;
        }
    }
}

#km-camping-hexploration {
    justify-content: space-between;
    line-height: 40px;
    padding: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;

    select {
        width: 180px;
    }

    button {
        height: 40px;
    }

    i {
        margin-right: 0;
    }

    #km-camping-encounter {
        display: flex;
        gap: 5px;

        button[data-action="roll-encounter"] {
            margin-left: 15px;
        }
    }
}

ul.km-camping-actors {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;

    li {
        list-style-type: none;
        margin-bottom: 0;
        display: flex;
        border-left: 1px solid;

        &:first-child {
            border-left: 0;
        }

        img {
            height: 120px;
            width: 90px;
            min-width: 90px;
            object-fit: cover;
            object-position: top;
            border: 0;
            border-radius: 0;
        }
    }
}

.km-camping-activities {
    height: 600px;
    background-image: url("../../../img/camping/x.jpg");
}