.km-camping-sheet {
    .km-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .window-content {
        padding: 0;
    }


    button.km-camping-action {
        border: 0;
        border-radius: 100%;

        &:hover {
            box-shadow: none;
        }

        i {
            margin-right: 0;
        }
    }

    button.km-camping-action[action="clear"] {
        position: absolute;
        width: 20px;
        height: 20px;
        font-size: 20px;
        top: .1em;
        right: .1em;

        &:hover {
            i {
                background-color: #931010;
                border-radius: 100%;
            }
        }
    }

    .km-camping-degree-of-success option[value="criticalSuccess"],
    select.km-camping-degree-of-success:has(option[value="criticalSuccess"]:checked) {
        color: white;
        background-color: var(--critical-success);
    }

    .km-camping-degree-of-success option[value="success"],
    select.km-camping-degree-of-success:has(option[value="success"]:checked) {
        color: white;
        background-color: var(--success);
    }

    .km-camping-degree-of-success option[value="failure"],
    select.km-camping-degree-of-success:has(option[value="failure"]:checked) {
        color: white;
        background-color: var(--failure);
    }

    .km-camping-degree-of-success option[value="criticalFailure"],
    select.km-camping-degree-of-success:has(option[value="criticalFailure"]:checked) {
        color: white;
        background-color: var(--critical-failure);
    }
}

#km-camping-time-tracker {
    position: relative;
    height: 50px;
    justify-content: center;
    color: var(--color-dark-1);
    /* divide 100/(24/hour) to get percentage */
    background: linear-gradient(
            in lch to right,
            rgb(32, 38, 57) 0%, /* 0:00 */ rgb(63, 76, 119) 17%, /* 4:00 */ rgba(185, 91, 229, 1) 23%, /* 5:30 */ #ff8f8f 27%, /* 6:30 */ #AFF1DA 38%, /* 9:00 */ #F9EA8F 50%, /* 12:00 */ #AFF1DA 63%, /* 15:00 */ #ff8f8f 73%, /* 17:30 */ rgba(185, 91, 229, 1) 77%, /* 18:30 */ rgb(63, 76, 119) 83%, /* 20:00 */ rgb(32, 38, 57) 100% /* 24:00 */
    );

    button {
        color: var(--color-dark-1);
        background: none;
        border: 0;
        border-radius: 5px;
        height: 40px;
        width: 40px;
        margin: auto 0;
    }

    button.night-mode {
        background-color: rgba(255, 255, 255, .5);
    }

    button#km-camping-plus-hexploration,
    button#km-camping-minus-hexploration {
        background-image: url("./hexagon-black.svg");
        width: 40px;
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
    }

    button:hover {
        background-color: rgba(255, 255, 255, .9);
        /*box-shadow: 1px 0 0 var(--color-dark-1);*/
        box-shadow: none;
        transition: none;
    }

    #km-camping-time {
        padding: 5px 20px;

        #km-camping-time-wrapper {
            height: 40px;
        }

        #km-camping-time-wrapper.night-mode {
            background-color: rgba(255, 255, 255, .5);
        }

        i {
            border-radius: 100%;
            /*background-color: rgba(255, 255, 255, .5);*/
            width: 30px;
            text-align: center;
            line-height: 22px;
            height: 22px;
            margin: auto;
            display: block;
        }
    }

    #km-camping-rest {
        position: absolute;
        right: 5px;
        top: calc(50% - 20px);
        width: auto;

        span {
            margin-right: .5em;
        }
    }
}

#km-camping-hexploration {
    justify-content: space-between;
    line-height: 40px;
    padding: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;

    select {
        width: 180px;
    }

    button {
        height: 40px;
    }

    #km-camping-encounter {
        display: flex;
        gap: 5px;

        button[data-action="roll-encounter"] {
            margin-left: 15px;
        }
    }
}

ul.km-camping-actors {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;
    border-bottom: 1px solid;
    box-sizing: content-box;

    li {
        list-style-type: none;
        margin-bottom: 0;
        display: flex;
        border-right: 1px solid;
        position: relative;
        width: 7em;
        height: 7em;
        flex-shrink: 0;

        a {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            border: 0;
            border-radius: 0;
            display: flex;
        }
    }

    .km-camping-add-actor {
        width: 7em;
        height: 7em;
        position: relative;
        box-shadow: inset 0 0 5px 2px #5c5c5c;

        span {
            position: absolute;
            font-size: var(--font-size-12);
            text-align: center;
            margin: 0 4px;
            top: .4em;
        }

        i {
            margin: auto;
            font-size: 24px;
        }
    }
}

#km-camping-content.km-camping-day {
    background-image: url("../../../img/camping/backgrounds/day.jpg");
}

#km-camping-content {
    background-image: url("../../../img/camping/backgrounds/forest-night.webp");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 310px);
    overflow-y: auto;
    padding: 15px 60px;

    h1 {
        text-align: center;
        width: fit-content;
        margin: 15px auto;
        -webkit-text-stroke-color: #000;
        -webkit-text-stroke-width: 1px;
        text-shadow: 0 0 5px black;
    }

    .km-camping-activities-wrapper {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .km-camping-activities {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        .km-camping-activity {
            font-size: var(--font-size-13);
            border: 1px solid;
            border-radius: 5px;

            header {
                background-color: rgba(11, 10, 19, 1);
                text-align: center;
                line-height: 2em;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                border-bottom: 1px solid;
            }

            .km-camping-activity-portrait {
                position: relative;
                display: flex;
                border-bottom: 1px solid;
                height: 11.5em;
                width: 11.5em;

                .empty-activity {
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    header {
                        position: absolute;
                        font-size: var(--font-size-14);
                        text-align: center;
                        margin: 0 4px;
                        top: .4em;
                        background: transparent;
                        border: 0;
                        text-align: center;
                        width: 100%;
                    }

                    i {
                        font-size: 3em;
                        margin: auto;
                    }
                }

                a {
                    height: 100%;
                    width: 100%;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top center;
                    border: 0;
                    border-radius: 0;
                }
            }

            .km-camping-activity-check {
                display: flex;

                select {
                    border-radius: 0;
                    border-bottom-left-radius: 5px;
                    outline: none;
                    box-shadow: none;
                    font-size: 1em;
                    height: 2em;
                    padding: 0 .3em;
                    border-style: none;
                }

                button[action="roll"] {
                    border-radius: 0;
                    border-bottom-right-radius: 5px;
                    margin: 0;
                    border: 0;
                    border-left: 1px solid;

                    &:hover {
                        box-shadow: none;
                        background-color: var(--primary-km);
                    }
                }
            }
        }
    }

    button.km-camping-previous {
        left: 0;
    }

    button.km-camping-previous,
    button.km-camping-next {
        height: 200px;
        width: 20px;
        font-size: 50px;
        padding: 35px;
        border: 0;
        background: transparent;
        -webkit-text-stroke-color: #000;
        -webkit-text-stroke-width: 1px;
        position: fixed;

        &:hover {
            box-shadow: none;
        }
    }

    button.km-camping-next {
        right: 0;
    }
}

.theme-dark {
    button[action] {
        background: rgba(11, 10, 19, 1);
    }

    .empty-activity {
        background: var(--background);

    }
}

.theme-light {

    button.km-camping-action,
    .km-camping-activity-check,
    .empty-activity {
        background: url("/ui/parchment.jpg") repeat;
    }

    button.km-camping-action[action="roll"] {
        &:hover {
            box-shadow: none;
            background: transparent;
            background-color: var(--primary-km);
            border-color: rgb(17, 17, 17) !important;
        }
    }

    .km-camping-activity header {
        background: url("/ui/parchment.jpg") repeat;
    }

    .km-camping-next,
    .km-camping-previous {
        color: rgba(255, 255, 255, .9);
    }
}