.theme-dark .km-dialog-form .help {
    color: var(--color-text-light-3);
}

.theme-light .km-dialog-form .help {
    color: var(--color-text-dark-3);
}

.km-dialog-form {
    fieldset {
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid;
    }

    input:invalid, textarea:invalid, select:invalid {
        border-color: #a31010;
    }

    textarea.larger-textarea {
        min-height: 500px;
    }

    table {
        margin: 0;

        th, input[type="text"], input[type="number"], select {
            text-align: center;
        }

        td {
            text-align: center;
        }

        .number-select-heading {
            min-width: 85px;
        }

        button[data-action] {
            height: 32px;
            margin: auto
        }
    }

    .dialog-content {
        border-spacing: 10px;
    }

    .form-element-checkbox-label {
        line-height: 26px;

        input[type="checkbox"] {
            margin-right: 0;
            float: right;
        }
    }


    .help {
        font-size: var(--font-size-12);
        line-height: var(--line-height-16);
    }

    .row {
        padding: 5px 0;
    }

    button:not(.full-width) {
        width: auto;
    }

    button.full-width {
        margin-top: 10px;
    }

    button[data-action="save"] {
        margin: 10px auto auto;
    }
}