.theme-dark .km-dialog-form .help {
    color: var(--color-text-light-3);
}

.theme-light .km-dialog-form .help {
    color: var(--color-text-dark-3);
}

.km-dialog-form {
    table {
        margin: 0;
    }

    .dialog-content {
        border-spacing: 10px;
    }

    .form-element-checkbox-label {
        line-height: 26px;

        input[type="checkbox"] {
            margin-right: 0;
            float: right;
        }
    }

    .help {
        font-size: var(--font-size-12);
        line-height: var(--line-height-16);
    }

    .row {
        padding: 5px 0;
    }

    button:not(.full-width) {
        width: auto;
    }

    button[data-action="save"] {
        margin: 10px auto auto;
    }
}