<form>
    <div class="row">
        <label for="party-check-skill">DC</label>
        <select name="party-check-skill" id="party-check-skill">
            <option value="perception">Perception</option>
            <option value="nature">Nature</option>
            <option value="survival">Survival</option>
        </select>
    </div>
    <div class="row">
        <label for="party-check-dc">DC</label>
        <input type="number" name="amount" id="party-check-dc">
    </div>
</form>